<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <script>
    function getTag()
    {
      alert(document.getElementById('tagg'))
    }
  </script>
      
</head>

<body>
  <!--header-->
 
  <div>
    <h1>Hello stack...</h1>
    <br/>
    
    

    <form method="POST" id="Replacements">
       
        <h3>Title</h3>
        <textarea id="tagg" name="tagg"></textarea>
        <h3>Body</h3>
        <textarea></textarea>

       


      </br>

      <input type="submit" value="Predict tag" name="Predict tag">

      <h2> Similar question to given:</h2>
      
       <h3 style="color:blue"> 1.{{similarquestion_1}}</h3>

      <br/>
       <h3 style="color:blueviolet">2. {{similarquestion_2}}</h3>

      <br/>  
      <h3 style="color:brown">3. {{similarquestion_3}}</h3>

      <br/> 
     <h3 style="color:darkblue">4. {{similarquestion_4}}</h3>

      <br/>  
    <h3 style="color:firebrick">5.{{similarquestion_5}}</h3>

      <br/>
     
       
    </form>

  

   



  </div>

</body>
</html>
